*
!.config/

!.config/Code/
!.config/Code/User/

!.config/alacritty/
!.config/alacritty/alacritty.toml

!.config/dunst/
!.config/dunst/dunstrc

!.config/ghostty/
!.config/ghostty/config

!.config/gtk-3.0/
!.config/gtk-3.0/settings.ini

!.config/i3/

!.config/kitty/
!.config/kitty/kitty.conf

!.config/nvim/
!.config/nvim/init.lua
!.config/nvim/theme.ini
!.config/nvim/lua/

!.config/picom/

!.config/polybar/

!.config/pulse/

!.config/rofi/

!.config/zed/
!.config/zed/keymap.json
!.config/zed/settings.json

!Brewfile

!awesome-mac-apps.md