*
!*/
!Code/User/
!alacritty/alacritty.toml
!dunst/dunstrc
!ghostty/config
!gtk-3.0/settings.ini
!gtk-4.0/settings.ini
!i3/*
!kitty/kitty.conf
!nvim/init.lua
!nvim/theme.ini
!nvim/lua/
!nvim/lua/plugins/*
!picom/*
!polybar/*
!pulse/
!rofi/powermenu.sh
!zed/keymap.json
!zed/settings.json
!Brewfile
!awesome-mac-apps.md
!helix/*
!helix/themes/*