coc/
raycast/
nvim/node_modules/
com.filestar.macos/
keyboardcowboy/
github-copilot
zed/embeddings/
zed/prompts
htop/
gpt4all.io
zed/conversations/
*/User/GlobalStorage
*/User/History
*/User/snippets
*/User/sync
*/User/workspaceStorage
*/User/tasks.json
fish/
yamusic-tui/
configstore/
btop/
*/kitty.conf.bak
nvim/*json
